{% extends 'base.html' %}


{% block content %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-9 rounded-3">
                    <form id="form-add">
                        <div class="form-fields">
                            <input type="hidden" name="id_funcionario" value="{{ id_funcionario_editing }}">
                            <div class="errors-list"></div>
                            {% for field in form %}
                                <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-dark">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {

            $("#form-add").submit(function (e) {
                e.preventDefault();
                const serializedData = $(this).serialize();
                const csrftoken = getCookie('csrftoken');
                var url = "{% url 'edit_funcionario' id_funcionario=0 %}".replace("0", $("[name='id_funcionario']").val());
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: serializedData,
                    headers: {'X-CSRFToken': csrftoken},
                    success: function (response) {
                        window.location = '/'
                    },
                    error: function (response) {
                        var error_response = "";
                        var errors = response['responseJSON']['error'];
                        for (const error in errors) {
                            error_response += errors[error] + "<br />"
                        }
                        $(".errors-list").html(error_response);
                    }
                });
            });
        });
    </script>
{% endblock %}
